﻿/*General page styling*/
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #BBBBB3;
    font-family: Helvetica, Arial, sans-serif;
}

li {
    border-bottom: #716147;
    list-style-position: inside;
}

#wrapper {
    background-color: #BBBBB3;
    margin: 0 auto;
    width: 1000px;
}

.heading {
    color: white;
    background-color: #716147;
    font: bold 18px Coda, Arial, sans-serif;
    -webkit-text-shadow: 2px 2px 2px black;
    text-shadow: 2px 2px 2px black;
}

.heading a:visited {
    color: white;
}

a {
	color: white;
}

#banner {
width: 100%;
}

img,
#content div,
#footer,
#nav,
#sideLinks {
    -webkit-box-shadow: 1px 2px 3px #333;
    box-shadow: 1px 2px 3px #333;
}

#footer {
   background: #716147;
   border: 5px solid white;
   color: white;
   padding: 5px;
   margin-top: 5px;
  margin-bottom: 5px;
   clear: both;
}

#footer a {
    color: white;
}

/*Navbar specific styling*/
#nav {
    background-color: #716147;
    border: 5px solid white;
    -webkit-box-shadow: 0 0 5px #888;
    box-shadow: 0 0 5px #888;
    padding: 8px 15px;
}

#nav li { 
    display: inline;
}

#nav li a {
        color: white;
        text-decoration: none;
        padding: 8px 15px;
        -webkit-text-shadow: 2px 2px 2px black;
        text-shadow: 2px 2px 2px black;
}

#nav li a:hover {
        background-color: white;
        color: #716147;
    }

/*Main content specific styling*/
#content {
    
    overflow: auto;   
}

#content p {
    background-color: white;
    padding: 5px;
    border-left: 5px solid #716147;
    border-right: 5px solid #716147;
    text-align: justify;
    overflow:auto;
	overflow-wrap: break-word;
}

#main h3, 
#sideLinks h3,
.card h3  {
    padding: 5px 0px;
    text-align: center;
}

.article,
.card {
    background-color: #716147;
    border: 5px solid white;
    float: left;
    width: 75.5%;
}

.article a,
.card a,
#sideLinks a {
    text-decoration:none;
}

#sideLinks a {
    color: blue;
}

.articleImage {
    float:left;
    margin-right: 10px;
}

.articleLink {
    display: inline;
    float: right;
    
    padding-right: 15px;
    text-decoration: none;
}

.article h5,
.card h5 {
    font-weight: normal;
}

/*Sidebar specific styling*/
.article,
#sideLinks {
    margin-top: 5px;
}

#sideLinks {
    background-color: white;    
    margin-left: 77%;
    padding: 5px;
}

#sideLinks ul {
    border-left: 5px solid #716147;
    border-right: 5px solid #716147;
    border-bottom: 5px solid #716147;
    list-style-type: none;
}

#sideLinks li {
    padding: 5px;
}

#sideLinks a:hover {
    color: #716147;
}

/*TV Cast specific styling*/
#content .row {
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;   
    background-color: #BBBBB3;
    float: left;
    margin-top: 5px;
    width: 75.5%;
}

.card {
    margin-right: 10px;   
    width: 31%;
}

.card p {
        height: 350px;
		text-align: right;
}

#content .card a {
    color: white;
}

.card img {
    margin-bottom: 10px;
    width: 99%;
}

.lastCard {
    margin-right: 0;
}